h1{
    font-size: 100;
    text-align: center;
}
body{ 
    background:rgb(133, 224, 255);
    font-family: Arial, Helvetica, sans-serif;
    

}
h2{
    text-decoration: underline;
    color: navy;
    text-align: center;
}
h3{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}