body{
    background-color:rgb(121, 121, 121);
    color: black;
}
h1{
    font-size: 36px;
    color: white;
    text-align: center;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: 24px;
}
h3{
    text-align: center;
     font-size: 24px;
     color: black;
}
h4{
    text-align: center;
     font-size: 24px;
}
h5{
    text-align: center;
     font-size: 24px;
     color: black;
}
#blacktext{
    color: black;
}
.blacklist{
    color: black;
}
/*positioning*/
.common{
    background-color: azure;
    border: 2px solid white;
    position: absolute;
    }

.main {
    top: 115px;
    left: 130px;
    right: 140px;
    bottom: 40px;
}

.right{
    top: 115px;
    right: 25px;
    width: 100px;
    height: 100px
}

.footer{
    bottom: 5px;
    height: 25px;
    left: 15px;
    right: 15px;
    background-color: white;
    text-align: center;
}

.header{
    z-index: 10;
    /* this is how you can control layers - the bigger the number the more upfront it will be*/
}
/* classes allow you to apply the same formatting for multiple things - ids are only for one thing*/

.redtext{
    color: red;
}